@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 형광 노랑 & 블랙 테마 */
  --color-neon: #CCFF00;
  --color-black: #000000;
}

body {
margin:0;
padding:0;
width: 100vw;
height: 100vh;
overflow: hidden;
background-color: var(--color-neon);
color: var(--color-black);
font-family: 'Apple SD Gothic Neo', 'sans-serif';
-webkit-font-smoothing: antialiased;
}

#root{
  width: 100%;
  height: 100%;
}
